.full-width-image {
    height: 50vh;
    
}

.full-width-image .full-width-image-main {
    height: 50vh;
    position: relative;
}

.full-width-image .full-width-image-main .full-width-details {
    position: absolute;
    top: 55%;
    left: 42%;
    transform: translate(-38%, -50%);
    text-align: center;
}

.full-width-image .full-width-image-main .full-width-details h2 {
    color: var(--white);
    font-size: 4.2rem;
    font-weight: 600;
}

.full-width-image .full-width-image-main .full-width-details a {
    color: var(--cinnabar);
    font-weight: 600;
    margin: 5rem 0;
    display: inline-block;
    font-size: 2.4rem;
}