<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banner</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <section class="banner-variation">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="banner-image">
                        <img src="../landing-images/banner/banner5.jpg" alt="banner">
                        <div class="banner-itaem">
                            <h1>Study in <span class="heading-red">Canada</span></h1>
                            <h2>Experience a World-Class Education!</h2>
                            <p>With expert guidance, your journey to studying in Canada is made easy here.
                                Explore everything you need to study in Canada and get assistance at
                                every step from our specialists.</p>
                            <div class="banner-link">
                                <a href="#" class="b-link">Book Free Counselling Now!</a>

                                <a href="#" class="active b-link" >Search Canada Universities</a>
                            </div>   
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</body>

</html>