<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banner</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <section class="banner-variation">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="banner-image">
                        <img src="../landing-images/banner/banner5.jpg" alt="banner">
                        <div class="banner-itaem">
                            <h1>Study in <span class="heading-red">Canada</span></h1>
                            <h2>Experience a World-Class Education!</h2>
                            <p>With expert guidance, your journey to studying in Canada is made easy here.
                                Explore everything you need to study in Canada and get assistance at
                                every step from our specialists.</p>
                            <div class="banner-link">
                                <a href="#" class="b-link">Book Free Counselling Now!</a>

                                <a href="#" class="active b-link" >Search Canada Universities</a>
                            </div>   
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>