<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="../css/style.css">

</head>

<body>

    <section class="sign-up-section">
        <div class="sign-up-wrapper d-flex">
            <div class="container">
                <div class="row">
                    <div class="col-7">
                        <div class="sign-up-image">
                            <img src="../images/sign-up/free-registration-forms.png" alt="signup">
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="login-details">
                            <h3>Log in</h3>

                            <div class="login-details__wrappper">
                                <div class="logindetails">
                                    <label>Username</label>
                                    <input type="text" placeholder="Username">
                                </div>

                                <div class="logindetails">
                                    <label class="password">Password</label>
                                    <input type="text" placeholder="Password">
                                </div>
                            </div>
                          
                            <div class="sign-up-confirm d-flex">
                                <button class="signup">Sign up</button>
                                <button class="signin">Sign in</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>