<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="../css/style.css">

</head>

<body>

    <section class="sign-up-section">
        <div class="sign-up-wrapper d-flex">
            <div class="container">
                <div class="row">
                    <div class="col-8">
                        <div class="sign-up-image">
                            <img src="../images/sign-up/free-registration-forms.png" alt="signup">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="sign-up-details">
                            <h3>Sign up</h3>

                            <div class="sign-up-form">
                                <label>Full Name</label>
                                <input type="text" placeholder="Name..">
                            </div>

                            <div class="sign-up-form">
                                <label>Email</label>
                                <input type="text" placeholder="Email Address..">
                            </div>

                            <div class="sign-up-form">
                                <label>Username</label>
                                <input type="text" placeholder="Username..">
                            </div>

                            <div class="sign-up-form">
                                <label>Password</label>
                                <input type="text" placeholder="Password..">
                            </div>

                            <div class="sign-up-form">
                                <label>Repeat Password</label>
                                <input type="text" placeholder="Repeat Password..">
                            </div>

                            <div class="sign-up-submit d-flex">
                                <input type="checkbox">
                                <p>I agree to the <strong>Terms of User</strong></p>
                            </div>

                            <div class="sign-up-confirm d-flex">
                               <button class="signup">Sign up</button>
                               <button class="signin">Sign in</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>