<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Tab</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>

    <section class="simple-btn-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="btn-iteam">
                        <button type="button"><a href="#">Why Study in Canada?</a></button>
                        <button type="button"><a href="#">Benefits</a></button>
                        <button type="button"><a href="#">Education System</a></button>
                        <button type="button"><a href="#">Popular Courses</a></button>
                        <button type="button"><a href="#">Top Universities</a></button>
                        <button type="button"><a href="#">Best Places</a></button>
                        <button type="button"><a href="#">Intakes</a></button>
                        <button type="button"><a href="#">Student Visa</a></button>
              


                    </div>
                </div>
            </div>
        </div>
    </section>


</body>

</html>